:root {
    --color-main: #2a7ae2;
    --color-main-dark: #2a3fe2;
    --color-secondary: #828282;
    --color-background: #00090C;
    --text-color: #FFFFFF;
    --black: #000;
    --white: #FFF;
    --valid-color: #9DF148;
    --error-color: #e22121;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --base-font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: var(--text-color);
background-color: var(--color-background);
min-height: 100vh;
margin: 0;
padding: 0;
}

body::-webkit-scrollbar {
width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-background);
    outline: 1px solid var(--color-main);
}

body::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: var(--color-main);
}

body::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--color-main);
}

body::-webkit-scrollbar-thumb:horizontal:active {
    background-color: var(--color-main);
}

body::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--color-main);
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin: auto;
}

.main-container {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin: 0px;
}

li {
    list-style-type: circle;
    transition: 300ms ease-in-out;

    &:hover {
        list-style-type: disc;

        &::marker {
            font-size: 25px;
        }
    }
}

li::marker {
    color: var(--color-main);
    font-size: 20px;
    transition: 300ms ease-in-out;
}

header {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

span {
    color: var(--color-main);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & a {
        font-weight: 600;
        color: var(--white);
        transition: 300ms ease-in-out;

        &:hover {
            color: var(--color-main);
            font-size: 18px;
        }
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--base-font-weight);
}

a {
    color: var(--color-main);
    text-decoration: none;

    &:hover {
        color: var(--text-color);
        text-decoration: underline;
    }
}

pre,
code {
    border: 1px solid var(--color-main);
    border-radius: 3px;
    background-color: #000;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.background-banner {
    width: 100%;
    height: 100vh;
    background: url('../assets/images/home/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;

    & div {
        padding: var(--spacing-md);
        text-align: center;
    }
}

.background-banner-author {
        opacity: 0.4;
        font-size: 10px;
        position: absolute;
        top: 0;
}

.portrait {
    height: 320px;
    width: 280px;
    border: 1px solid var(--color-main);
    box-shadow: 0px 5px 10px -5px var(--color-main);
    border-radius: var(--border-radius);
}

.btn {
    align-items: center;
    background-color: var(--color-main);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
.btn:hover,
.btn:focus { 
    background-color: var(--color-main-dark);
    color: #ffffff;
}

.icon {
    color: var(--white);
}

.gallery {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    gap: var(--spacing-sm);
    width: 100%;

    & .gallery-card:nth-of-type(1), .gallery-card:nth-of-type(3) {
        justify-self: end;
    }

    & .gallery-card:nth-of-type(2), .gallery-card:nth-of-type(4) {
        justify-self: start;
    }
}

.gallery-image {
    width: fit-content;
    height: fit-content;
}

.overlay {
    position: relative;
    top: 75%;
    background: rgba(42, 122, 226, 0.50);
    color: #f1f1f1;
    width: 100%;
    transition: 300ms ease-in-out;
    opacity: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.gallery-card {
    width: 100%;
    max-width: 400px;
    min-width: 330px;
    height: 270px;
    border: 1px solid var(--color-main);
    box-shadow: 0px 5px 10px -5px var(--color-main);
    border-radius: var(--border-radius);
}

#gallery-image-one {
    background: url("../assets/images/home/gallery1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gallery-image-two {
    background: url("../assets/images/home/gallery2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

#gallery-image-three {
    background: url("../assets/images/home/gallery3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gallery-image-four {
    background: url("../assets/images/home/gallery4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

footer {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: var(--spacing-xs);
    border-top: 1px solid var(--color-main);
}

.fa-github {
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (hover: hover) {
    .gallery-card:hover {
        transition: 300ms ease-in-out;
        transform: scale(1.1);
    }

    .gallery-card:not(:hover) {
        transition: 300ms ease-in-out;
    }

    .gallery-card:hover .overlay {
        opacity: 1;
    }
}

@media (hover: none) {
    .gallery-card .overlay {
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    .gallery {
        display: block;
    }
    .gallery-card {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .gallery-card {
        min-width: 250px;
        height: 210px;
    }
}