/**
 * Site header
 */

#logo {
  width: 30vw;
  height: 7.5vw;
  min-width: 300px;
  min-height: 75px;
}

.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: #106793;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $text-color !important;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-top: 4vw;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .active-link {
    font-weight: 700;
    color: darken($color: $brand-color, $amount: 30%);
    text-decoration: underline;

    &:hover {
      color: $text-color;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    label[for="nav-trigger"]:hover {
      .menu-icon > svg {
        fill: $brand-color;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: #FFF;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      // padding-bottom: 5px;
      width: 180px;
    }

    .page-link {
      display: block;
      border: solid 1px #FFF;
      padding: 5px;
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
      }

      &:hover {
        background-color: $brand-color;
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }
}

/**
 * Contact
 */

form {
  padding: 20px;
}

input, textarea {
  width: 95%;
  box-shadow: 0px 5px 10px -5px $brand-color;
  background-color: $background-color;
  padding: 10px;
  color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: 5px;
  font-family: $base-font-family;
}

#contact-social-links {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
  #contact-social-links {
    display: block;

    & img {
      display: block;
      margin: auto;
      margin-top: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: #106793;
}

.site-footer a {
  color: darken($text-color, 25%);
}

.site-footer a:hover {
  color: $text-color;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2.5);
  text-align: center;
  border-bottom: 1px solid $brand-color;
  box-shadow: 0px 5px 10px -5px $brand-color;
  margin-top: 10px;
}

#post-container {
  width: 100%;
  height: 500px;
  overflow-y: auto;

  > li {
    margin-bottom: $spacing-unit;
  }
}

#post-container::-webkit-scrollbar {
  width: 0.5em;
}
 
#post-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#post-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-tag {
  background-color: $brand-color;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-tags {
  margin-left: 0px;

  & :not(:first-child) {
    margin-left: 10px;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Home
 */

#banner {
  display: block;
  background-size: cover;
  height: 90vh;
  background-image: url("images/banner.png");
  background-attachment: fixed;
}

#welcome-message {
  font-size: 50px;
  display: block;
  padding-top: 25vh;
  padding-left: 20vw;
}

#welcome-message span {
  color: $brand-color;
  font-size: 60px;
  font-weight: 600;
}

#banner a {
  display: inline-block;
  opacity: 0.2;
  // padding-top: 28vh;
}

@media only screen and (max-width: 650px) {
  #welcome-message {
    font-size: 30px;
    padding-left: 15vw;
  }

  #welcome-message span {
    font-size: 35px;
  }

}

#home-description img {
  display: block;
  margin: auto;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
}

.gallery-image {
  width: fit-content;
  height: fit-content;
}

.overlay {
  position: relative;
  margin-top: 205px;
  background: rgb(42, 122, 226);
  background: rgba(42, 122, 226, 0.5);
  color: #f1f1f1;
  width: 95%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.gallery-card {
  width: 50%;
  max-width: 370px;
  min-width: 330px;
  height: 270px;
  border: 1px solid $brand-color;
  box-shadow: 0px 5px 10px -5px $brand-color;
}

@media (hover: hover) {
  .gallery-card:hover {
    transition: 1s;
    transform: scale(1.1);
  }
  
  .gallery-card:hover .overlay {
    opacity: 0.75;
  }
}

@media (hover: none) {
  .gallery-card .overlay {
    opacity: 0.75;
  }
}

@media only screen and (max-width: 800px) {
  .gallery-row {
    display: block;
  }
  .gallery-card {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 20px;
  }

}

@media only screen and (max-width: 440px) {
  .overlay {
    width: 94%;
  }
}

.button-link {
  align-items: center;
  background-color: $brand-color;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  line-height: 20px;
  width: 100%;
  // max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-link:hover,
.button-link:focus { 
  background-color: #16437E;
  color: #ffffff;
}

/**
 * About
 */

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-size: cover;
  background-image: url("images/profile-background.png");
}

#profile a:first-child {
  position: absolute;
  opacity: 0.5;
  left: 0;
  top: 110px;
}

.profile-picture {
  border: 2px solid #FFF;
  width: 250px;
  height: 300px;
  min-width: fit-content;
}

#profile-details-container {
  width: 25vw;
  margin-left: 10vw;
  min-width: fit-content;
  text-align: center;
}

#profile-details-container svg {
  color: #FFF;
}

#profile-details-container p {
  color: $brand-color;
  line-height: 25%;
}

.resume-link {
  align-items: center;
  background-color: $brand-color;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.resume-link:hover,
.resume-link:focus { 
  background-color: #16437E;
  color: #ffffff;
}

@media only screen and (max-width: 950px) {
  #profile a:first-child {
    top: 90px;
  }
}

@media only screen and (max-width: 650px) {
  #profile, .profile-picture, #profile-details-container {
    display: block;
    margin: auto;
  }

  #profile-details-container {
    width: fit-content;
  }

  #profile a:first-child {
    top: 75px;
  }
}

.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  & img {
    border-radius: 5%;
    width: 230px;
    height: 100px;
  }
}

.education-header:last-of-type img {
  border-radius: 5%;
  width: 180px;
  height: 155px;
}

.education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px -5px $brand-color;
  padding: 5px;

  & small {
    padding: 10px;
  }
}

.education-list-container {
  display: flex;
  justify-content: center;
}

.education-list {
  margin-left: 5vw;
  margin-right: 5vw;
}

@media only screen and (max-width: 650px) {
  .education-header {
    display: block;
    text-align: center;

    & img {
      display: block;
      margin: auto;
    }
  }
}