---
layout: default
---

<section>
  <header class="header">
    Biography
  </header>
  <br>
  <div class="container">
    <p>My name is <strong>Kyle Keene-Welch</strong> and I am currently <strong>20 years old</strong> studying at <a href="https://www.beds.ac.uk/"><strong>The University Of Bedfordshire</strong></a> in Luton. 
      I am a <strong>junior in my field</strong> who is developing their skills in <strong>Web Development and Software Engineering</strong> with hopes to secure a professional position at a reputable technical firm.</p>
    <p>I grew up locally within <strong>Bedford</strong> where I had a successful education at <strong><a href="https://www.bedfordacademy.co.uk/">Bedford Academy</a></strong> and <strong><a href="https://bedfordcollegegroup.ac.uk/">Bedford College</a></strong>. 
      The transition to higher education came from my aspirations to further my learning and secure a degree at an accredited institution. 
      Since the transition, I have learnt and developed on several skills and concepts relating to a wide range of technical subjects with personal emphasis on those I wish to pursue in the future.</p>
    <p>Alongside my academic development, I also had development in other areas where I was able to progress personally. 
      This invovled building confidence in areas such as a job where my <strong>experience working at Tesco</strong> provided the responsibilities that pushed me to become an effective worker, building professional 
      and casual <strong>relationships between academic figures, professionals in the same network</strong> and <strong>meeting new friends in a new location</strong>, and building resilience and grit to overcome obstacles such as <strong>meeting deadlines, consistency at the gym</strong> and <strong>learning to drive</strong>.
    </p>
    <p>
      I am passionate in providing a useful, effective service in the support I provide and I apply myself in everything I do, ensuring I am <strong>not only a successful professional</strong> but also a <strong>powerful team member</strong> as part of a team working towards a goal. 
      I want to <strong>continually learn and adapt to the changing environment</strong> I place myself in and by <strong>enhancing my skills and experience in a range of projects</strong>, I can meet this demmand and shape myself to become an effective practitioner in a technical field.
    </p>
  </div>
</section>
<br>
<section>
  <header class="header">
    Education
  </header>
  <br>
  <div class="container">
    <header class="education-header">
      <h2>The University Of Bedfordshire</h2>
      <img src="{{site.baseurl}}/assets/images/uni-beds-logo.png">
    </header>
    <div class="education-details">
      <small>September 2019 - July 2024</small>
      <small>Luton</small>
      <small><a href="https://www.beds.ac.uk/">Visit Website</a></small>
    </div>
    <br>
    <p><strong>Software Engineering BSc (Hons) - Pending</strong></p>
    <div class="education-list-container">
      <div class="education-list">
        <p>Year 1:</p>
        <ul>
          <li>Fundamentals Of Software Engineering (A)</li>
          <li>Mathematics And Concepts For Computational Thinking (A+)</li>
          <li>Databases And Computer Networks (A+)</li>
          <li>Principles Of Programming And Data Structures (A+)</li>
        </ul>
      </div>
      <div class="education-list">
        <p>Year 2:</p>
        <ul>
          <li>Mobile Application Development (A+)</li>
          <li>Desktop Applications Development And Software Engineering (A+)</li>
          <li>Decision Support Systems And Data Mining (Pending)</li>
          <li>Web Technologies And Platforms (Pending)</li>
        </ul>
      </div>
    </div>

    <br>
    <hr>
    <br>

    <header class="education-header">
      <h2>Bedford College</h2>
      <img src="{{site.baseurl}}/assets/images/bedford-college-logo.png">
    </header>
    <div class="education-details">
      <small>September 2019 - July 2021</small>
      <small>Bedford</small>
      <small><a href="https://bedfordcollegegroup.ac.uk/">Visit Website</a></small>
    </div>
    <br>
    <p><strong>BTEC Extended Diploma in IT - Achieved: (A*A*A*)</strong></p>
    <p>Modules Covered:</p>
    <div class="education-list-container">
      <div class="education-list">
        <ul>
          <li>Communication and Employability</li>
          <li>Computer Systems</li>
          <li>Computer Networks</li>
          <li>IT Systems Repair and Troubleshooting</li>
          <li>Programming Paradigms</li>
          <li>Database Design</li>
          <li>Networked System Security</li>
          <li>Information Systems</li>
          <li>Software Design and Development</li>
        </ul>
      </div>
      <div class="education-list">
        <ul>
          <li>Systems Analysis and Design</li>
          <li>IT Technical Support</li>
          <li>Client-Side Customization of Webpages</li>
          <li>Developing Computer Games</li>
          <li>Digital Graphics</li>
          <li>Spreadsheet Modelling</li>
        </ul>
      </div>
    </div>
    <p><strong>Mathematics in Context - Achieved: (B)</strong></p>
    <p><strong>Cisco Introduction to Cybersecurity - Completed</strong></p>
    <p><strong>Ascentis Level 1 Award in Environmental Sustainability - Completed</strong></p>
    <p><strong>Ascentis Level 1 Award in Understanding Employment, Business and Enterprise - Completed</strong></p>

    <br>
    <hr>
    <br>

    <header class="education-header">
      <h2>Bedford Academy</h2>
      <img src="{{site.baseurl}}/assets/images/bedford-academy-logo.png">
    </header>
    <div class="education-details">
      <small>September 2014 - July 2019</small>
      <small>Bedford</small>
      <small><a href="https://www.bedfordacademy.co.uk/">Visit Website</a></small>
    </div>
    <br>
    <p><strong>GCSEs and BTECs:</strong></p>
    <div class="education-list-container">
      <div class="education-list">
        <ul>
          <li>Mathematics (A)</li>
          <li>English Literature (A)</li>
          <li>English Language (B)</li>
          <li>Triple Science (A*)</li>
          <li>Computer Science (A)</li>
          <li>Media (A*)</li>
        </ul>
      </div>
      <div class="education-list">
        <ul>
          <li>History (A*)</li>
          <li>Construction (A)</li>
          <li>BTEC Sport (A*)</li>
          <li>Graphics (B)</li>
          <li>Business (A*)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<br>
<section>
  <header class="header">
    Achievements
  </header>
  <br>
  <div class="container">
    <ul>
      <li>
        <strong>Representing 2nd year CST students in a BCS event - </strong> (30th March 2023) Took part in formal meeting with BCS officials as representative of second year students for the school of computing. Event was part of the BCS university accreditation process to verify the suitability and industry standard of technical degrees.
      </li>
      <br>
      <li>
        <strong>BCS Bedford Branch University Of Bedfordshire Best Performing Level 4 student - </strong> (2021-2022) Nominated for highest performing and awarded by accredited body. Reflected on produced grades and attitude to learning.
      </li>
      <br>
      <li>
        <strong>2nd place Internal Competition for Website Customization - </strong> (10th May 2021) Sponsered by CNF IT Solutions and Services. Competition using suitable tools and techniques to develop a web page under a short time frame according to a given specification.
      </li>
      <br>
      <li>
        <strong>Award for Outstanding Achievement BTEC Level 3 Extended Diploma in Information Technology - </strong> (18th November 2021) Nominated award for excellence in the duration of the course and representing good practice in the department.
      </li>
    </ul>
  </div>
</section>
<br>
<section>
  <header class="header">
    Hobbies and Interests
  </header>
  <br>
  <div class="container">
    <h2>The Gym</h2>
    <p>
      The gym as a hobby is part of my lifestyle which came about due to the personal need to work on my fitness and improve my confidence. 
      The driving factor that enabled me to push myself to go and work on my fitness was due to the negative impacts of isolation after contracting Covid 19 back when it was prevalent.
      I felt really negative about my health after isolating for over a week and knew I wanted to do something about it so after confirming I was covid free, I sought to create a personal fitness plan and perform some research.
    </p>
    <p>
      This eventually led to building upon several areas and meeting fitness objectives of which I constantly updated to the point where I am now.
      Nowadays, I aim to go five days a week and implement two rest days spread about the week and follow a popular push, pull, legs plan.
    </p>
    <h2>Casual Sports</h2>
    <p>
      Much like the need to improve my health with the gym, performing some casual sports also helped to meet my fitness goals. 
      Sports such as Football, Basketball and the occasional Badminton would enable me to build my cardiovascular endurance as well as enjoying a popular pastime with some friends.
    </p>
    <p>
      The University Of Bedfordshire provides a Get Active program which sponsers students and provides them with an account by which they can book hour sessions of various different sports and activities. 
      Through using this service provided freely as part of my degree, I was able to attend a pre-booked Football, Basketball or Badminton session with friends at a local fitness centre and in my case, this happened to be the same place I attend the gym.
    </p>
    <h2>Video Games</h2>
    <p>
      Video games are a great way to spend your time when on a recharge after doing some work or as a social activity with some friends. 
      Depending on the game, you can receive several different benefits such as feelings of excitement or thrill, accomplishment and satisfaction, problem solving skills and creativity, and social interaction and cooperation.
    </p>
    <p>
      I have played a variety of different types of games reaping from many of the benefits much from my childhood and many from the present. 
      Games on services such as the Xbox Game Pass enable me to pay for a subscription to access a catalogue of downloadable games that can be played endlessly as long as the subscription remains active. 
      This means I can pick and choose the kind of experience I want depending on how I feel at the end of the day and I don't have to worry about paying a large expense to try something new.
    </p>
    <h2>Supporting Others</h2>
    <p>
      I would like to say that supporting others is a best interest of mine that I partake in whether that be technically with my classmates or associates or in general with my friends and those I am in close relationships with. 
    </p>
    <p>
      Some examples might include explaining a particular topic in a way that a classmate might understand as opposed to the point being missed in class, coming to terms in a group project and providing useful assistance, encouraging friends and giving academic advice or doing a household task with the effort to help in the shared flat.
    </p>
    <p>
      By helping others, I can benefit from the experience gained from the cooperation, team-building and relationships developed. I can offer assistance with hope that others will provide the same generousity back and this is a great quality to maintain to make the world around a better place.
    </p>
    <h2>Listening to Variety of Music</h2>
    <p>
      Listening to music is a great way to produce several feelings and take part in various cultures. 
      It can be played to heighten the mood and energize or dampen and chill. 
      The variety of music mediums and genres allows a listener to customize their own playing experience and can combine music from diverse sources.
    </p>
    <p>
      I use music to energize and heighten the mood during my workouts at the gym to keep my mind alert and movements dynamic. 
      It helps to ease off the pressure and work alongside some tunes that aim to keep you on edge.
      Furthermore, I also use music while doing some work as some background noise filling in the atmosphere and to mellow out while doing some problem solving.
    </p>
    <p>
      Keeping the kind of music open and exploring different genres and sources allows me to enjoy music from a range of cultures and groups.
      Switching up keeps me engaged and satisfied and it is a great way to utilize the audio medium to assist in my daily activities.
    </p>
  </div>
</section>
<br>