---
layout: default
---
<div class="about">
  <header>
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  </header>

  <div id="profile">
    <div id="profile_picture_container">
      <img src="" width="" height="">
    </div>

    <div id="profile_details_container">
      <h2>Kyle Keene-Welch</h2>
      <p>Web Developer / Software Engineer</p>
      <p>University Of Bedfordshire</p>
    </div>
  </div>

  <div id="bio-container">

  </div>

  <div id="education-container">

  </div>

</div>