---
layout: default
---
<br>
<div class="container">
    <form action= "mailto:kylekeene.welch@gmail.com" method="get" 
    enctype="text/plain">
        <label for="name">Name</label>
        <br>
        <input type="text" size="19" name="name" placeholder="Enter your name...">
        <br><br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" placeholder="Enter your email...">
        <br><br>
        <label for="subject">Subject</label>
        <br>
        <input type="text" size="19" name="subject" placeholder="Enter your subject...">
        <br><br> 
        <label for="message">Message</label>
        <br>
        <textarea name="body" rows="6" cols="20" placeholder="Enter your message..."></textarea>
        <br><br> 
        <button class="button-link" type="submit" value="Submit">Open Mail Client</button>
    </form>  
</div>
<br>
<div class="container">

</div>
<br>