<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {%- if page.title == 'Home' -%}
      <div id="banner">
        <div id="welcome-message">
            Hello Fellow <span>Problem Solvers</span>
            <br>
            My Name is <span>Kyle</span>
        </div>
        <a href="https://www.freepik.com/free-vector/abstract-digital-grid-vector-black-background_16264060.htm#query=website%20background&position=22&from_view=search&track=robertav1_2_sidr">Image by rawpixel.com</a>
      </div>
      {%- endif -%}

      <div class="wrapper">
        <div class="title">
          {%- if page.title and page.title != 'Home' -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}
        </div>
        {{content}}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
