---
layout: default
---

<br>
<div id="home-description">
    <img class="profile-picture" src="">
    <br>
    <div id="home-description-link">
        <a class="resume-link" href="{{site.baseurl}}/assets/docs/resume.txt" download>
            Download Resume
            <svg width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <title/> <g id="Complete"> <g id="download"> <g> <path d="M3,12.3v7a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2v-7" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> <g> <polyline data-name="Right" fill="none" id="Right-2" points="7.9 12.3 12 16.3 16.1 12.3" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="2.7" y2="14.2"/> </g> </g> </g> </g> </g>
            </svg>
        </a>
    </div>
    <br>
    <div>
        <p>I am a <strong>Web Developer / Software Engineer at The University Of Bedfordshire.</strong></p>
        <p>Currently, I have been involved with different technologies with the goal to improve my proficiency in a range of areas in the industry.</p>
        <p>These include languages such as <strong>Python, C#, JavaScript, Dart, PHP, Java</strong>.</p>
        <p>Frameworks such as <strong>ASP.NET, React, Ionic, Django, Flutter</strong>.</p>
        <p>Tools such as <strong>VSCode, GitHub, Notepad++, SQLite, Android Studio</strong>.</p>
        <p>I understand the importance learning has in personal development and how adapting to new advances in the upcoming era of techonolgy will allow me to stay competitive and offer a more useful and efficient service.</p>
        <p>By looking at this website, you can become familiar with the skills and experience I have obtained and can use this in your own evaluation of the provision of opportunities and services.</p>
    </div>
</div>
<br>
<section>
    <header class="home-header">
        What Exciting Things Have I Been A Part Of?
    </header>

    <div>

    </div>
</section>
<br>
<section>
<header class="home-header">
    More Than Just A Developer
</header>

<div>

</div>
</section>
<br>
<section>
<header class="home-header">
    Want To Know More?
</header>

<div>

</div>
</section>
<br>