---
layout: default
---

{%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
    <ul class="post-list">
      <div id="post-container">
      {%- for post in site.posts -%}
        <li class="container">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <small>{{ post.description }}</small>
          <br><br>
          <div class="post-tags">
            {%- for category in post.categories -%}
            <span class="post-tag">{{ category }}</span>
            {%- endfor -%}
          </div>
        </li>
      {%- endfor -%}
      </div>
    </ul>
{%- endif -%}