---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <div class="post-tags">
        {%- for category in page.categories -%}
        <span class="post-tag">{{ category }}</span>
        {%- endfor -%}
      </div></p>
  </header>

  <div class="post-content e-content container" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="container">
    <p class="center">Find the GitHub repo here:</p>
    <div class="repo-container">
        <img src="{{site.baseurl}}/assets/images/github-logo.png" width="60" height="55">
        <a href="{{ page.repo }}" target="_blank">
          <h3>KyleKeeneWelch / {{ page.title }}</h3>
        </a>
    </div>
  </div>
  <br>
  <div class="container">
    <h2 class="center">Want to know more?</h2>
    <p>Get in contact by visiting the <a href="{{site.baseurl}}/contact/">contact page</a> or alternatively email <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
  </div>
  <br>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
